.home_menu{
    position: fixed;
    z-index: 1000;
    top: 80px;
    float: left;
    height: 50%;
    width: 65px;
    background-color: #27376B;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align: center;
    padding-top: 10px;
}
.home_menu_item{
    display: inline-block;
    width:38px;
    height:38px;
    background-color: #fff;
    margin-top: 10px;
}
#home_menu div.selected{
    background-color:#00adef;
}
.home_content{
    height:90%;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
}



.hidden_menu {
    float: left;
    height:350px;
    width:25%;
    z-index:2;
    position:absolute;
    left:-1000px;
    top:80px;
    background:#304387;
    color:#000;
    padding-left: 100px;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.clear {
    clear:both;
}
.navbar-default {
	background-image: -webkit-linear-gradient(top,#3d56ad 0%,#304387 100%);
    background-image: -o-linear-gradient(top,#3d56ad 0%,#304387 100%);
    background-image: linear-gradient(to bottom,#3d56ad 0%,#304387 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d56ad',endColorstr='#ff304387',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 5px rgba(0,0,0,0.075);
    top: 0;
    border-width: 0 0 1px;
}
.navbar-header{
    text-align: center;
}
.navbar-header a{
    color: #fff;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    margin-left: 10px;
}
.navbar-right{
    margin-right: 10px;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #00adef;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #00adef;
}
.navbar-default .navbar-toggle {
	border-color: #00adef;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #00adef;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecdbff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ecdbff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ecdbff;
		background-color: #00adef;
	}
}
.left_map{
    position: absolute;
    width: 70%;
    height: 80%;
}
/*
@media screen and (min-width:1000px) {
    .left_map{
        position:absolute;
        left:0px;
        width:70%;
        height:80%
    }
    .right_side_bar{
        margin-left: 70%;
        border: 1px solid;
        width: 30%;
        height: 80%;
    }
}
@media screen and (max-width:999px) {
    .left_map{
        position:absolute;
        left:0px;
        width:60%;
        height:80%
    }
    .right_side_bar{
        margin-left: 60%;
        border: 1px solid;
        width: 40%;
        height: 80%;
    }
}*/